//variaveis

$backgroundColor: rgb(20,20,20);
$primaryColor: #fff;
$secondaryColor: rgb(255,200,0);
$terciaryColor: rgb(180,180,180);

$fontLarger: 64px;
$fontLarge: 40px;
$fontMedium: 32px;
$fontSmall: 28px;
$fontSmaller: 24px;

$fontLargerMobile: 48px;
$fontLargeMobile: 28px;
$fontMediumMobile: 24px;
$fontSmallMobile: 20px;
$fontSmallerMobile: 16px;

$fontLarger4k: 120px;
$fontLarge4k: 72px;
$fontMedium4k: 60px;
$fontSmall4k: 48px;
$fontSmaller4k: 42px;

//variaveis

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}

body{
    background-color: $backgroundColor;
}

.hero{
    width: 98,9vw;
    background-image: url(images/hero1.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    &__nav__menu{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: end;
        padding: 32px 6vw;

        @media (max-width: 767px){
            padding: 4px 4vw;
        }

        li{
            padding-left: 48px;

            @media (max-width: 767px){
                padding-left: 16px;
            }

            a{
                font-size: $fontSmaller;
                color: $primaryColor;
                border-bottom: $primaryColor solid 3px;
                border-radius: 6px;

                @media (max-width: 767px){
                    font-size: $fontSmallerMobile;
                }

                @media (min-width: 2560px){
                    font-size: $fontSmaller4k;
                }
            }
        }
    }

    &__phrase{
        margin-top: 44vh;
        margin-left: 6vw;

        @media (max-width: 1366px){
            margin-top: 24vh;
        }

        @media (max-width: 767px){
            margin-top: 16vh;
        }
    }

    p{
        font-family: 'Playfair Display', serif;
        font-size: $fontSmall;
        color: $primaryColor;
        padding-top: 16px;

        @media (max-width: 767px){
            font-size: $fontSmallerMobile;
        }

        @media (min-width: 2560px){
            font-size: $fontSmaller4k;
        }
    }

    button{
        background-color: transparent;
        border: none;

        a{
            margin-left: 6vw;
            margin-top: 32px;
            display: flex;
            border: solid $secondaryColor 4px;
            color: $secondaryColor;
            align-items: center;
            font-size: $fontLarge;

            @media (max-width: 767px){
                margin-left: 0;
            }

            i, h6{
                padding: 4px 8px;

                @media (max-width: 767px){
                    padding: 2px 4px;
                }
            }
        }

        @media (max-width: 767px){
            transform: scale(0.7);
        }
    }
}

.hero>i{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    padding-bottom: 12vw;

    @media (max-width: 767px){
        display: none;
    }
}

.slides{
    max-width: 1600px;
    width: 100%;
    margin: 16px auto;

    &__group{
        display: hidden;

        &--active{
            display: block;
        }
    }

    @media (max-width: 1920px){
        width: 90%;
    }

    @media (max-width: 767px){
        width: 70%;
        margin: 0 auto;
    }
}

.castCrew{

    h2{
        font-size: $fontLarger;
        color: $primaryColor;
        margin-left: 6vw;
        margin-top: 2vw;

        @media (max-width: 767px){
            font-size: $fontLargerMobile;
            margin-top: 6vh;
            text-align: center;;
            margin-left: 0;
        }

        @media (min-width: 2560px){
            font-size: $fontLarger4k;
        }
    }

    h4{
        font-size: $fontMedium;
        color: $secondaryColor;
        margin-left: 6vw;

        @media (max-width: 767px){
            font-size: $fontMediumMobile;
            text-align: center;
            margin-left: 0;
        }

        @media (min-width: 2560px){
            font-size: $fontMedium4k;
        }
    }

    h3{
        font-size: $fontMedium;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 4px;
        text-transform: uppercase;
        color: $primaryColor;

        @media (max-width: 767px){
            font-size: $fontMediumMobile;
        }

        @media (min-width: 2560px){
            font-size: $fontMedium4k;
        }
    }

    &__nav{
        display: flex;
        justify-content: space-around;

        &__tabs{
            display: flex;
            margin-bottom: 4vw;

            .tabButton{
                margin: 0 8px;
                background-color: transparent;
                border: none;
                color: $terciaryColor;
                font-size: $fontSmaller;

                @media (max-width: 767px){
                    font-size: $fontSmallerMobile;
                }

                @media (min-width: 2560px){
                    font-size: $fontSmaller4k;
                }

                &--active{
                    color: $primaryColor;
                }
            }

            h4{
                margin-left: 0;
            }
        }
    }
}

.story{
    background-image: url(images/la_drang.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 767px){
        background-image: url(images/la_drang_mobile.jpg);
    }

    &__content{
        margin: 0 6vw;
        padding-top: 12vw;
        padding-bottom: 9vw;
        display: flex;
        align-items: center;

        @media (max-width: 1366px){
            align-items: center;
        }

        @media (max-width: 767px){
            align-items: center;
        }

        &__text{
            h2{
                color: $primaryColor;
                font-size: $fontLarger;

                @media (max-width: 1366px){
                    text-align: center;
                }

                @media (max-width: 767px){
                    font-size: $fontLargerMobile;
                    text-align: center;
                }

                @media (min-width: 2560px){
                    font-size: $fontLarger4k;
                }
            }
            
            h4{
                color: $secondaryColor;
                font-size: $fontMedium;
                margin-bottom: 32px;

                @media (max-width: 1366px){
                    font-size: $fontMedium;
                    text-align: center;
                }

                @media (min-width: 2560px){
                    font-size: $fontMedium4k;
                }

                @media (max-width: 767px){
                    font-size: $fontMediumMobile;
                    text-align: center;
                }
            }
    
            p{
                color: $terciaryColor;
                font-size: $fontSmaller;
                font-family: 'Playfair Display', serif;
                margin-top: 16px;
    
                strong{
                    color: $primaryColor;
                    font-family: 'Playfair Display', serif;
                }

                @media (max-width: 1366px){
                    text-align: justify;
                }

                @media (max-width: 767px){
                    font-size: $fontSmallerMobile;
                    text-align: justify;
                }
                
                @media (min-width: 2560px){
                    font-size: $fontSmaller4k;
                }
            }

            @media (max-width: 1366px){
                margin-top: 4vh;
                margin-bottom: 2vh;
            }

            @media (max-width: 767px){
                margin-top: 10vh;
                margin-bottom: 5vh;
            }
        } 

        img{
            height: 720px;
            margin-left: 8vw ;

            @media (max-width: 1366px){
                display: none;
            }

            @media (min-width: 2560px){
                height: 840px;
            }
        }
    }
}


/* /////// Configuração de classes carregadas pelo slick /////// */

.slick-slide{
    transform: scale(0.8);              /* diminui a escala das imagens que não estão no centro */
    transition: all 0.4s ease-in-out;
    padding: 40px 20px;                    /* Ao aumentarmos a escala do central em 10%, parte da imagem é "comida" pelo container, o paddin evita isso. */
}

.slick-slide img{
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.slick-center{
    transform: scale(1.1);              /* Aumenta a escala da imagem central em 10% */
}

.slick-prev:before, .slick-next:before{
    color: $secondaryColor;
}